<footer class="ethos-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h5 class="footer-heading">Ethos</h5>
                <p class="footer-desc">
                    Live like you belong. Ethos connects travelers with unique homes and local curators.
                </p>
                <div class="f-info-socials">
                    <a href="https://github.com/Harshit8bit" target="_blank"><i class="fa-brands fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/harshit-agarwal8bit/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a><hr/> 
                        <div>
                        <i class="fa-solid fa-briefcase"></i> 
                        <a href="https://harshit-agarwal.onrender.com/" target="_blank"><b>My Portfolio</b></a>
                        </div>

                    
                </div>
            </div>

            <div class="col-md-3 mb-4">
                <h5 class="footer-heading">Project Specs</h5>
                <ul class="footer-links">
                    <li><i class="fa-solid fa-code"></i> MVC Architecture</li>
                    <li><i class="fa-brands fa-node-js"></i> Node.js & Express</li>
                    <li><i class="fa-solid fa-database"></i> MongoDB Atlas</li>
                    <li><i class="fa-solid fa-shield-halved"></i> Passport.js Auth</li>
                    <li><i class="fa-solid fa-map-location-dot"></i> Mapbox Geocoding</li>
                    <li><i class="fa-solid fa-cloud-arrow-up"></i> Cloudinary Storage</li>
                </ul>
            </div>

            <div class="col-md-3 mb-4">
                <h5 class="footer-heading">Developer</h5>
                <ul class="footer-links">
                    <li><strong>Harshit Agarwal</strong></li>
                    <li>Full Stack Developer</li>
                    <li>Noida, India</li>
                    
                    <li><a href="mailto:harshitagarwal0207@gmail.com" class="contact-link">Contact Me</a></li>
                </ul>
            </div>

            <div class="col-md-2 mb-4">
                <h5 class="footer-heading">Explore</h5>
                <ul class="footer-links">
                    <li><a href="/listings">All Listings</a></li>
                    <li><a href="/listings/new">Host a Home</a></li>
                    <li><a href="/privacy">Privacy</a></li>
                    <li><a href="/terms">Terms</a></li>
                </ul>
            </div>
        </div>

        <hr class="footer-divider">

        <div class="f-info-bottom">
            <div class="f-info-brand">&copy; 2025 Ethos Private Limited</div>
            <div class="f-info-details">Designed & Built by Harshit</div>
        </div>
    </div>
</footer>